@namespace TremblingGame.UI.Notifications
@inherits Sandbox.UI.Panel

<root>
    <span>@Text</span>
</root>

<style>
    CenterNotification {
        font-size: 30px;
        font-weight: bold;
        align-content: center;
        justify-content: center;
        border-radius: 15px;
        margin: 2px 2px;
        color: white;
        height: 80px;
        align-items: center;
        font-family: Poppins;
        background-color: rgba( #111, 0.2 );
    }
</style>